@charset "utf-8";

* { margin:0; padding:0; font-size:small; font-family:AppleGothic, Nanumgothic, Dotum, sans-serif;}
body{background-color:#fff; }
li{list-style:none;}
fieldset,img{border:none;}
address,em{font-style:normal;}
input,textarea,select{background-color:#fff;font-family:inherit;font-size:11px;}
a{color:#444;text-decoration:none;}
a.visited{color:#444; }
a:hover,a.visited:hover{color:#0063b8; text-decoration:underline; }
hr,legend,.skip,.hd{display:none;}
ul, ol, li {list-style:none outside;}

body{position:relative;}

img, fieldset {border:0 none;}

/* TABLE °ª */
table {border-collapse: collapse; border-spacing: 0px}

.left {float:left; }

/* text none */
.text-none	{text-indent:-9000em; }

h1, h2 {display:none; }

/* ================================== css ======================================== */

body {background-color:#f3f3f3; }
#Wrap {margin:0 auto; width:900px; background: url(../images/index_02.gif) repeat-y; }
.head  {height:150px; background: url(../images/index_01.gif); }
.sub_title {margin-left:60px; height:40px; background: url(../images/sub_title_01.gif) no-repeat; }

#contens {padding:0 100px 0 100px; width:700px; }
#contens .project_detail {clear:both; display:block; margin:10px 0 10px 0; width:700px; height:240px; border:5px solid #dfedfa; }
#contens dl dt {padding:10px 2px 5px 10px; color: #448ccb; letter-spacing: -0.05em; font-weight:bold; }
#contens dl dd {padding:0 0 0 10px; float:left; width:420px; }
#contens dl dd.site_img {width:250px; }
#contens .t01 {color:#448ccb; }
#contens dl dd ul li {padding:4px 0 0 15px; color: #888888; font-size:11px; line-height:12px; }


#footer {padding:20px 100px 20px 100px; background: url(../images/index_03.gif) no-repeat 0 100%; }
#footer .license {color: #448ccb; font-size:.85em; letter-spacing: -0.05em; text-align:center; }
#footer .writer {color: #888888; font-size:.85em; text-align:center; }
#footer .mark {text-align:right; }
